In [3]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress

# Study data files
tesla_acc = "data/Tesla Deaths - Deaths_1.csv"

# Read the Telsa_accidents data
tesla_data = pd.read_csv(tesla_acc)

In [4]:
tesla_data

,Case #,Year,Date,Country,State,Description,Deaths,Tesla driver,Tesla occupant,Other vehicle,...,Verified Tesla Autopilot Deaths,Verified Tesla Autopilot Deaths + All Deaths Reported to NHTSA SGO,Unnamed: 16,Unnamed: 17,Source,Note,Deceased 1,Deceased 2,Deceased 3,Deceased 4
0,296,2022,1/30/2023,USA,MO,Speeding Tesla crashes into car,1,-,-,1,...,-,-,https://web.archive.org/web/20230130231416/ht...,https://web.archive.org/web/20230130231416/ht...,https://web.archive.org/web/20230130231416/ht...,NaN,NaN,NaN,NaN,NaN
1,295,2022,1/21/2023,USA,CA,Tesla crashses into resident's pool,1,1,-,-,...,-,-,https://archive.is/r4ida,https://archive.is/r4ida,https://archive.is/r4ida,NaN,NaN,NaN,NaN,NaN
2,294,2022,1/17/2023,USA,CA,Tesla crashes into back of semi,1,1,-,-,...,-,-,NaN,NaN,https://web.archive.org/web/20230118162813/ht...,NaN,NaN,NaN,NaN,NaN
3,293,2022,01/07/23,Canada,-,Tesla crashes,1,1,-,-,...,-,-,NaN,NaN,https://web.archive.org/web/20230109041434/ht...,NaN,Taren Singh Lal,NaN,NaN,NaN
4,292,2022,01/07/23,USA,WA,"Tesla hits pole, catches on fire",1,-,1,-,...,-,-,NaN,NaN,https://web.archive.org/web/20230107232745/ht...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,5,2014,7/14/2014,USA,CA,Tesla kills motorcyclist,1,-,-,1,...,-,-,https://web.archive.org/web/20220817120807/ht...,https://web.archive.org/web/20220817120807/ht...,https://web.archive.org/web/20220817120807/ht...,NaN,NaN,NaN,NaN,NaN
292,4,2014,07/04/14,USA,CA,Thief crashes stolen Tesla,1,1,-,-,...,-,-,https://web.archive.org/web/20220817120839/ht...,https://web.archive.org/web/20220817120839/ht...,https://web.archive.org/web/20220817120839/ht...,NaN,Joshua Slot,NaN,NaN,NaN
293,3,2014,07/04/14,USA,CA,Tesla rear ends stopped car,3,-,-,3,...,-,-,https://web.archive.org/web/20220412004559/ht...,https://web.archive.org/web/20220412004559/ht...,https://web.archive.org/web/20220412004559/ht...,NaN,NaN,NaN,NaN,NaN
294,2,2013,11/02/13,USA,CA,Tesla kills cyclist,1,-,-,-,...,-,-,https://web.archive.org/web/20220817121049/ht...,https://web.archive.org/web/20220817121049/ht...,https://web.archive.org/web/20220817121049/ht...,NaN,NaN,NaN,NaN,NaN
295,1,2013,04/02/13,USA,CA,Tesla veers into opposite lane,2,-,-,2,...,-,-,https://web.archive.org/web/20150425055520/ht...,https://web.archive.org/web/20150425055520/ht...,https://web.archive.org/web/20150425055520/ht...,NaN,Alberto Casique-Salinas,Armando Garcia-Gonzales,NaN,NaN